.footer{
    background-color: rgb(233, 230, 230);
    .icones{
        .reseaux{
        display: flex;
        justify-content: center;
        align-items: center;
        }
    }
    .info{

    }
}